.success-cheeter-alert {
    color: #00FF3F;
    text-align: center;
    padding: .5%;
}

ul.cheater-alert li {
    list-style-type: none;
}
#cheeter-alert span {
    color: green;
}

div.cheater-test {
    padding: .3%;
    margin: 10px;
}

table.cheater-test {
    padding: 3px;
}